/* Geral */
.wpp__section {
    position: fixed;
    padding-top: 5px;
    bottom: 20px;
    z-index: 99;
    cursor: pointer;
}
.wpp__section.multi__n {
    border-radius: 0 !important; 
    border: 1px solid #ddd;
}
/* Ícones com FAB */
.wpp__section.fab {
    width: 60px;
    height: 60px;
    background-color: #00D750;
    border-radius: 50%;
    font-size: 35px !important;
    color: white;
    text-align: center !important;
    bottom: 50px;
}  
/* Ícone: Desktop - Esquerda - Direita / Mobile - Esquerda - Direita */
.wpp__section.fab.desktop.left, .wpp__section.fab.mobile.left {
    left: 30px;
}
.wpp__section.fab.desktop.right, .wpp__section.fab.mobile.right {
    right: 30px;
}
/* Ícone: Mobile - Topo - Esquerda / Topo - Direita */
.wpp__section.fab.mobile.top.left {
    top: 70px;
    left: 30px;
}
.wpp__section.fab.mobile.top.right {
    top: 70px;
    right: 30px
}
@media screen and (max-width: 767px) { 
    .wpp__section.fab {
        width: 50px;
        height: 50px;
        padding-top: 2px;
        font-size: 30px !important;
        bottom: 30px;
    } 
} 
@media screen and (min-width: 768px) and (max-width: 992px) { 
    .wpp__section.fab {
        width: 50px;
        height: 50px;
        padding-top: 2px;
        font-size: 30px !important;
        bottom: 20px;
    }
}
@media screen and (min-width: 993px) { 
    .wpp__section.fab {
        width: 60px;
        height: 60px;
        padding-top: 5px;
        font-size: 35px !important;
        bottom: 50px;
    }
}

/* Ícones sem FAB */
/* Ícone: Desktop - Esquerda - Direita / Mobile - Esquerda - Direita */
.wpp__section.desktop.left, .wpp__section.mobile.left {
    left: 30px;
}
.wpp__section.desktop.right, .wpp__section.mobile.right {
    right: 30px;
}
/* Ícone: Mobile - Topo - Esquerda / Topo - Direita */
.wpp__section.mobile.top.left {
    top: 70px;
    left: 30px;
}
.wpp__section.mobile.top.right {
    top: 70px;
    right: 30px;
}
    .wpp__section img {
        text-align: center !important;
        margin: 5px auto;
    }

@media screen and (max-width: 767px) { 
    .wpp__section {
        padding-top: 2px;
        bottom: 10px;
    } 
} 
@media screen and (min-width: 768px) and (max-width: 992px) { 
    .wpp__section {
        padding-top: 2px;
        bottom: 20px;
    }
}
@media screen and (min-width: 993px) { 
    .wpp__section {
        padding-top: 5px;
        bottom: 30px;
    }
}