// General SCSS for icon
#wwb__section {
    position: fixed;
    padding-top: 5px;
    bottom: 20px;
    z-index: 99;
    cursor: pointer;
    &.desktop, &.mobile {
        &.left {
            left: $lr_position;
        }
        &.right {
            right: $lr_position; 
        }
    }
    &.mobile {
        display: none;
        &.top {
            top: $top_position;
        }
    }
    img {
        text-align: center !important;
        margin: 5px auto;
    }
    @media screen and (max-width: 767) {
        padding-top: 2px;
        right: 20px;
        bottom: 0px;
        &.desktop {
            display: none;
        }
        &.mobile {
            display: block;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 992px) {
        padding-top: 2px;
        bottom: 10px;
    }
    @media screen and (min-width: 993px) {
        padding-top: 5px;
        bottom: 20px;
    }
}