// Modal
#wwb__modal {
    * {
        font-family: 'Source Sans Pro', sans-serif;
    }
    position: fixed;
    top: 0; left: 0;
    bottom: 0; right: 0;
    background-color: rgba($color: $black, $alpha: .6);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s .3s ease-in-out;
    transition: all .3s .3s ease-in-out;
    a {
        text-decoration: none;
    }
    select {
        height: 35px;
        border-radius: 4px;
        font-size: 18px;
    }
    .modal-content {
        position: absolute;
        top: 30%;
        left: 50%;
        max-width: 600px;
        min-width: 360px;
        max-height: 85%;
        background: #fff;
        overflow: auto;
        z-index: 2;
        opacity: 0;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 5px;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        .modal-header {
            background-color: #fff;
            padding: 10px;
            border-bottom: 1px solid #dee2e6;
            h1 {
                margin: 0;
                font-size: 22px;
                &::before, &::after {
                    content: none;
                }
            }
        }
        .modal-body {
            padding: 10px;
            .input-group {
                display: flex;
                width: 100%;
                border: 1px solid #ddd;
                border-radius: 4px;
                & > div {
                    display: flex;
                    vertical-align: middle;
                    font-size: 20px;
                }
                .input-group-icon {
                    padding: 0 10px;
                    background:#eee;
                    color: #777;
                }
                .input-group-area {
                    width: 100%;
                    border-left: 1px solid #ddd;
                }
                select {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }
        }
        .modal-footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 10px;
            border-top: 1px solid #dee2e6;
            .modal-close {
                display: flex;
                cursor: pointer;
            }
        }
    }
    @media screen and (max-width: 767px) {
        .modal-content {
          padding: 10px 5%;
          min-width: 88%;
        }
    }
}
input[id*="wwb__modal_trigger"] {
    position: fixed;
    left: -9999px;
    top: 50%;
    opacity: 0;
}  
input[id*="wwb__modal_trigger"]:checked + #wwb__modal {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
input[id*="wwb__modal_trigger"]:checked + #wwb__modal .modal-content {
    opacity: 1;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}