// Paths
$fonts-path: '../fonts';

// Colors
$white: #ffffff;
$black: #000000;
$blue: #3b5bb9;
$bgcolor-delete: #b70d0d;
$primary: #43a047;
$primary-hover: #00701a;
$close: #b71c1c;
$close-hover: #7f0000;

// Icon Positions
$lr_pos: 15px;
$bottom_pos: 10px;
$top_pos: 50px;

// Icon Size
$small_icon: 38px;
$default_icon: 47px;
$large_icon: 60px;