// General SCSS for icon
#wwb__section {
    position: fixed;
    max-width: 60px;
    max-height: 60px;
    bottom: $bottom_pos;
    z-index: 99;
    cursor: pointer;
    &.desktop, &.mobile {
        &.small {
            width: $small_icon;
            height: $small_icon;
        }
        &.default {
            width: $default_icon;
            height: $default_icon;
        }
        &.large {
            width: $large_icon;
            height: $large_icon;
        }
        &.left {
            @include tooltip(93%, 590%, 8px 10px 8px 0, transparent rgba(0, 0, 0, .8) transparent transparent, translate(-226px, -170%), rgba(0, 0, 0, .8), translate(-216px, -38px));
            left: $lr_pos;
        }
        &.right {
            @include tooltip(93%, -100%, 8px 0 8px 10px, transparent transparent transparent rgba(0, 0, 0, .8), translate(34px, -170%), rgba(0, 0, 0, .8), translate(-216px, -38px));
            right: $lr_pos; 
        }
    }
    &.mobile {
        display: none;
        &.top {
            top: $top_pos;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
    @media screen and (max-width: 767px) {
        &.desktop {
            display: none;
        }
        &.mobile {
            display: block;
        }
    }
}